<%- include("../partials/header.ejs") %>
<%- include("../partials/main_nav.ejs") %>

<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-offset-8 col-md-12">
            <br>
            <h1> Food Macro Tracker</h1>
            <p style="font-size: 20px;">Below you will find a table that will let you track your foods with the name, calories, grams of protein and a description of the food. You will be able to add, edit and delete all the information.</p>
            <a href="workout-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a food</a>
            <br>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Calories</th>
                    <th class="text-center col-1">Grams of Protein</th>
                    <th class="text-center col-5">Description</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                </tr>
                <!-- Repeat the template -->
                <% for (let count = 0; count < Workoutlist.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= Workoutlist[count].name %></td>
                        <td class="text-center col-2"><%= Workoutlist[count].sets %></td>
                        <td class="text-center col-1"><%= Workoutlist[count].reps %></td>
                        <td class="text-center col-5"><%= Workoutlist[count].description %></td>
                        <td class="text-center col-1">
                            <a href="/workout-list/edit/<%= Workoutlist[count]._id %>"
                                class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit </a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/workout-list/delete/<%= Workoutlist[count]._id %>"
                                class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete </a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include('../partials/bottom_nav.ejs') %>
<%- include('../partials/footer.ejs') %>
